// Custom styles.

@import "_suprise/ball";

// over write code color
.post code {
    background: none;
    color: $gainsboro;
    // ext-shadow: 0 1px #fff;
}

// post next article
.post-nav-item a {
    color: $gray-lighter;
}

// search input
.site-search input {
    border-bottom: 1px solid #fc6423;
}